<title>managedeclareadd</title>
{% extends "base_Txx.html" %}

{% block content %}
    <div class="container">
        <h2 style="padding-top: 20px">申报任务添加</h2>
        <br>
        <br>
        <form>
        <div class="form-group">
          <label for="name" style="font-size: large; font-weight: bold">申报任务名：</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
          <label for="startTime" style="font-size: large; font-weight: bold">申报开始时间：</label>
          <input type="date" class="form-control" id="startTime" >
        </div>
        <div class="form-group">
          <label for="stopTime" style="font-size: large; font-weight: bold">申报结束时间：</label>
          <input type="date" class="form-control" id="stopTime" >
        </div>
        <div class="form-group">
          <label for="content" style="font-size: large; font-weight: bold">申报内容：</label>
          <input type="text" class="form-control" id="content" >
        </div>
        <div style="text-align:center">
         <button id="cancel" type="button" class="btn btn-default" style="margin:50px; background-color: lightgrey;">取消</button>
         <button id="submit" type="button" class="btn btn-success" style="margin:50px">添加</button>
       </div>
      </form>
    </div>

{% endblock %}

{% block js %}
    $(function () {
            $("#cancel").click(function () {
                $("#name").val('');
                $('#startTime').val('');
                $('#stopTime').val('');
                $('#content').val('');
        });
            $("#submit").click(function () {
                var content = $("#content").val();
                var startTime = $('#startTime').val();
                var stopTime = $('#stopTime').val();
                var name= $('#name').val();

                 if(name == ''){
                 alert('名字不能为空！');
                 return
                 }
                 if(startTime == ''){
                     alert('请选择开始时间！');
                     return
                 }
                 if(stopTime != ''){
                     if(startTime > stopTime){
                         alert('结束时间不能早于开始时间！');
                         return
                     }
                 }else {
                     alert('请选择结束时间！');
                     return
                 }
                if(content == '') {
                    alert("内容不能为空！");
                }
                $.ajax({
                    type: "GET",
                    url: "/adddeclare",
                    data: {name:$('#name').val(),begintime:$('#startTime').val(),endtime:$('#stopTime').val(),main:$("#content").val()},
                    dataType: 'json',
                    async: false,
                    cache: false,
                    contentType: 'application/json',
                    success:function () {
                        Flush();
                    }
                });
            });
            function Flush(){
                $('#name').val('');
                $('#startTime').val('');
                $('#stopTime').val('');
                $('#content').val('');
                alert("添加成功！")
            }
        });
{% endblock %}
