<title>能力培训添加</title>
{% extends "base_Txx.html" %}

{% block css %}
{% endblock %}

{% block content %}
{#    <div class="container" id="container">#}
        <h2 style="padding-top: 20px">能力提升培训记录</h2>
        <br>
            <button type="button"  class="btn btn-link" id="add" style="display: inline; margin-left: 26px; font-size: large">+&nbsp;添加能力提升培训</button>
        <br>
        <br>
        <form id="ability" role="form">
             <div class="form-group">
                     <div class="input-group col-xs-12">
                         <div class="input-group-btn">
                            <select  id="select" name="type" class="form-control" style="width: auto;">
                                <option>名称</option>
                                <option>开始时间</option>
                                <option>结束时间</option>
                                 <option>创建时间</option>
                                <option>状态</option>
                            </select>
                         </div>
                            <input type="text" name="keyword" id="keyword" class="form-control" placeholder="请您输入关键词">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" id="search">搜索</button>
                            </span>
                        </div>
             <br>
             </div>
            <div class="form-group">
                    <table class="layui-table" style="margin: 0 0 0 0; table-layout: fixed;">
                        <thead style="text-align: center">
                        <tr>
                            <th style="width: 8%">序号</th>
                            <th style="width: 16%">名称</th>
                            <th style="width: 16%">开始时间</th>
                            <th style="width: 16%">结束时间</th>
                            <th style="width: 16%">创建时间</th>
                            <th style="width: 8%">状态</th>
                            <th style="width: 20%; text-align: center">操作</th>
                        </tr>
                        </thead>
                        <tbody id="tableText"></tbody>
                    </table>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-end" id="page-li">
                        </ul>
                    </nav>
            </div>
        </form>
{#    </div>#}

{% endblock %}

{% block js %}
    {#前后端交互：从后端数据库获取列表数据以及分页处理#}
    $(document).ready(function(){
        $("#add").on("click", function () {
            window.location.href = '/manageabilityadd_new'
        });
        var acquire=new Array(10);
        var pass;
        let dpage=1;
        let pages=1;
        let per_page=10;
        let d_per_page=10;
        let idz=new Array(10);
        $.ajax({
            type:'GET',
            url:'./searchtrain',
            data:{'page':1,'per_page':per_page},
{#            data: searchData,#}
{#            data:{'page':1,'per_page':per_page},#}
            dataType:'json',
            async: false,
            cache: false,
            contentType: 'application/json',
            success:function(data){
                pages = data.zpage;
                let total = data.total;
                dpage = data.dpage;
                let activity = data.item;
                let str="";

                d_per_page=data.item.length;
                for (let index = 0; index < data.item.length; index++) {
                   idz[index]=data.item[index].id;
                   {#获取列表中的序号number,将列表中的number作为acquire数组的index#}
                   let acquire_number;
                   let status = '';
                   if(data.item[index].status==0){
                        status = "进行中"
                   }
                   if(data.item[index].status==1){
                        status = "已过期"
                   }
                   if(data.item[index].status==2){
                        status = "已删除"
                   }
                   acquire_number = data.item[index].number;
                   acquire[acquire_number]=data.item[index].id;
                   str += "<tr><td>" + data.item[index].number +
                            "</td><td >" + data.item[index].name +
                            "</td><td>" + data.item[index].begintime +
                            "</td><td>" + data.item[index].endtime +
                            "</td><td>" + data.item[index].createtime +
                            "</td><td>" + status +
                            {#"</td><td>"+ "<button class='btn btn-danger btn-sm' id='del"+index+"'>查看</button>"#}
                            {# +"<button class='btn btn-primary btn-sm' id='del"+index+"'>通过</button>"+ "</tr>";#}
                            "</td><td style='text-align: center'>"+ "<input type='button' class='btn btn-info btn-sm' style='margin-right: 20px' id='"+acquire_number+"' value=编辑>"
                             +"<input type='button' class='btn btn-warning btn-sm' id='"+acquire_number+"' value=删除>"+"</tr>";
{#                             +"<input type='button' class='btn btn-success btn-sm' id='"+acquire_number+"' value=恢复>"+"</tr>";#}
                }
                $("#tableText").html(str);
                let strli="<li class='page-item'><a href='#' class='page-link' id='prev'>前一页</a></li>";
                strli+="<li class='page-item'><a id=li"+1+" href='#' class='page-link'>"+1+"</a></li>";
                for(let index=2;index<=pages;index++){
                    strli+="<li class='page-item'><a id=li"+index+" href='#' class='page-link'>"+index+"</a></li>"
                }
                strli+="<li class='page-item'><a href='#' class='page-link' id='next'>后一页</a></li>";
                $("#page-li").html(strli);
                let s="#li"+dpage;
                $(s).css("border-color","blue");
                if(dpage < pages){
                    let r=dpage+1;
                    let rs="#li"+r;
                    $(rs).css("border-left-color","blue");
                }else{
                    $("#next").css("border-left-color","blue");
                }
            }
        });
        $("#search").on("click", function () {
             let name = '';
             let createtime = '';
             let begintime = '';
             let endtime = '';
             let status = '';
             // var data = {name:'', createtime:'', begintime:'', endtime:'', status:'', 'page':1,'per_page':per_page}
             let data = {};
             console.log($("#select  option:selected").text());
             console.log($("#keyword").val());
             if ($("#select  option:selected").text()=="名称"){
                 name = $("#keyword").val();
                 data = {name:name, 'page':1,'per_page':per_page};
             }
             if ($("#select  option:selected").text()=="创建时间"){
                 createtime = $("#keyword").val();
                 data = {createtime:createtime, 'page':1,'per_page':per_page};
             }
             if ($("#select  option:selected").text()=="开始时间"){
                 begintime = $("#keyword").val();
                 data = {begintime:begintime, 'page':1,'per_page':per_page};
             }
             if ($("#select  option:selected").text()=="结束时间"){
                 endtime = $("#keyword").val();
                 data = {endtime:endtime, 'page':1,'per_page':per_page};
             }
             if ($("#select  option:selected").text()=="状态"){
                 if($("#keyword").val()=="进行中"){
                    status = 0;
                 }
                 else if($("#keyword").val()=="已过期"){
                    status = 1;
                 }
                 else if($("#keyword").val()=="已删除"){
                    status = 2;
                 }else{
                    alert("请输入正确的状态：进行中、已过期、已删除");
                 }
                 data = {status:status, 'page':1,'per_page':per_page};
             }
             $.ajax({
                type:'GET',
                url:'./searchtrain',
                data:data,
    {#            data: searchData,#}
    {#            data:{'page':1,'per_page':per_page},#}
                dataType:'json',
                async: false,
                cache: false,
                contentType: 'application/json',
                success:function(data){
                    pages = data.zpage;
                    let total = data.total;
                    dpage = data.dpage;
                    let activity = data.item;
                    let str="";
                    d_per_page=data.item.length;
                    for (let index = 0; index < data.item.length; index++) {
                       idz[index]=data.item[index].id;
                       {#获取列表中的序号number,将列表中的number作为acquire数组的index#}
                       let acquire_number;
                       acquire_number = data.item[index].number;
                       acquire[acquire_number]=data.item[index].id;
                       let status = '';
                       if(data.item[index].status==0){
                            status = "进行中"
                       }
                       if(data.item[index].status==1){
                            status = "已过期"
                       }
                       if(data.item[index].status==2){
                            status = "已删除"
                       }
                       str += "<tr><td>" + data.item[index].number +
                                "</td><td >" + data.item[index].name +
                                "</td><td>" + data.item[index].begintime +
                                "</td><td>" + data.item[index].endtime +
                                "</td><td>" + data.item[index].createtime +
                                "</td><td>" + status +
                                {#"</td><td>"+ "<button class='btn btn-danger btn-sm' id='del"+index+"'>查看</button>"#}
                                {# +"<button class='btn btn-primary btn-sm' id='del"+index+"'>通过</button>"+ "</tr>";#}
                                "</td><td style='text-align: center'>"+ "<input type='button' class='btn btn-info btn-sm' style='margin-right: 20px' id='"+acquire_number+"' value=编辑>"
                                 +"<input type='button' class='btn btn-warning btn-sm' id='"+acquire_number+"' value=删除>"+"</tr>";
    {#                             +"<input type='button' class='btn btn-success btn-sm' id='"+acquire_number+"' value=恢复>"+"</tr>";#}
                    }
                    $("#tableText").html(str);
                    let strli="<li class='page-item'><a href='#' class='page-link' id='prev'>前一页</a></li>";
                    strli+="<li class='page-item'><a id=li"+1+" href='#' class='page-link'>"+1+"</a></li>";
                    for(let index=2;index<=pages;index++){
                        strli+="<li class='page-item'><a id=li"+index+" href='#' class='page-link'>"+index+"</a></li>"
                    }
                    strli+="<li class='page-item'><a href='#' class='page-link' id='next'>后一页</a></li>";
                    $("#page-li").html(strli);
                    let s="#li"+dpage;
                    $(s).css("border-color","blue");
                    if(dpage < pages){
                        let r=dpage+1;
                        let rs="#li"+r;
                        $(rs).css("border-left-color","blue");
                    }else{
                        $("#next").css("border-left-color","blue");
                    }
                }
            });
            $("#prev").click(function(){
                $('.box').css('display','none');
                if(dpage==1){
                    alert("该页是第一页！");
                }else{
                    let s="#li"+dpage;
                    $(s).css("border-color","");
                    if(dpage < pages){
                        let r2=dpage+1;
                        let rs2="#li"+r2;
                        $(rs2).css("border-left-color","");
                    }else{
                        $("#next").css("border-left-color","");
                    }
                    $.ajax({
                        type:'GET',
                        url:'./searchtrain',
                        data:{'page':dpage-1,'per_page':per_page},
                        dataType:'json',
                        async: false,
                        cache: false,
                        contentType: 'application/json',
                        success:function(data){
                            pages = data.zpage;
                            let total = data.total;
                            dpage = data.dpage;
                            let activity = data.item;
                            let str="";
                            d_per_page=data.item.length;
                            for (let index = 0; index < d_per_page; index++) {
                                idz[index]=data.item[index].id;
                                获取列表中的序号number,将列表中的number作为acquire数组的index
                                let acquire_number;
                                acquire_number = data.item[index].number;
                                acquire[acquire_number]=data.item[index].id;
                               let status = '';
                               if(data.item[index].status==0){
                                    status = "进行中"
                               }
                               if(data.item[index].status==1){
                                    status = "已过期"
                               }
                               if(data.item[index].status==2){
                                    status = "已删除"
                               }
                               str += "<tr><td>" + data.item[index].number +
                                "</td><td >" + data.item[index].name +
                                "</td><td>" + data.item[index].begintime +
                                "</td><td>" + data.item[index].endtime +
                                "</td><td>" + data.item[index].createtime +
                                "</td><td>" + status +
                                "</td><td style='text-align: center'>"+ "<input type='button' class='btn btn-info btn-sm' style='margin-right: 20px' id='"+acquire_number+"' value=编辑>"
                                 +"<input type='button' class='btn btn-warning btn-sm' id='"+acquire_number+"' value=删除>"+"</tr>";

                            }
                            $("#tableText").html(str);
                            let s="#li"+dpage;
                            $(s).css("border-color","blue");
                            if(dpage < pages){
                                let r=dpage+1;
                                let rs="#li"+r;
                                $(rs).css("border-left-color","blue");
                            }else{
                                $("#next").css("border-left-color","blue");
                            }
                        }
                    });
                }
            });
            $("#next").click(function(){
                $('.box').css('display','none');
                if(dpage==pages){
                    alert("该页是最后一页！");
                }else{
                    let s="#li"+dpage;
                    $(s).css("border-color","");
                    if(dpage < pages){
                        let r2=dpage+1;
                        let rs2="#li"+r2;
                        $(rs2).css("border-left-color","");
                    }else{
                        $("#next").css("border-left-color","");
                    }
                    $.ajax({
                        type:'GET',
                        url:'./searchtrain',
                        data:{'page':dpage+1,'per_page':per_page},
                        dataType:'json',
                        async: false,
                        cache: false,
                        contentType: 'application/json',
                        success:function(data){
                            pages = data.zpage;
                            let total = data.total;
                            dpage = data.dpage;
                            let activity = data.item;
                            let str="";
                            d_per_page=data.item.length;
                            for (let index = 0; index < d_per_page; index++) {
                                idz[index]=data.item[index].id;
                                获取列表中的序号number,将列表中的number作为acquire数组的index
                                let acquire_number;
                                acquire_number = data.item[index].number;
                                acquire[acquire_number]=data.item[index].id;
                                let status = '';
                               if(data.item[index].status==0){
                                    status = "进行中"
                               }
                               if(data.item[index].status==1){
                                    status = "已过期"
                               }
                               if(data.item[index].status==2){
                                    status = "已删除"
                               }
                               str += "<tr><td>" + data.item[index].number +
                                "</td><td >" + data.item[index].name +
                                "</td><td>" + data.item[index].begintime +
                                "</td><td>" + data.item[index].endtime +
                                "</td><td>" + data.item[index].createtime +
                                "</td><td>" + status +
                                "</td><td style='text-align: center'>"+ "<input type='button' class='btn btn-info btn-sm' style='margin-right: 20px' id='"+acquire_number+"' value=编辑>"
                                 +"<input type='button' class='btn btn-warning btn-sm' id='"+acquire_number+"' value=删除>"+"</tr>";

                            }
                            $("#tableText").html(str);
                            let s="#li"+dpage;
                            $(s).css("border-color","blue");
                            if(dpage < pages){
                                let r=dpage+1;
                                let rs="#li"+r;
                                $(rs).css("border-left-color","blue");
                            }else{
                                $("#next").css("border-left-color","blue");
                            }
                        }
                    });
                }
            });
{#            点击那一页就显示哪一页的数据#}
            for(let index=1;index<=pages;index++){
                let s="#li"+index;
                $(s).click(function() {
                    $('.box').css('display', 'none');
                    let s2 = "#li" + dpage;
                    $(s2).css("border-color", "");
                    if (dpage < pages) {
                        let r2 = dpage + 1;
                        let rs2 = "#li" + r2;
                        $(rs2).css("border-left-color", "");
                    } else {
                        $("#next").css("border-left-color", "");
                    }
                    $.ajax({
                        type: 'GET',
                        url: './searchtrain',
                        data: {'page': index, 'per_page': per_page},
                        dataType: 'json',
                        async: false,
                        cache: false,
                        contentType: 'application/json',
                        success: function (data) {
                            pages = data.zpage;
                            let total = data.total;
                            dpage = data.dpage;
                            let activity = data.item;
                            let str = "";
                            d_per_page = data.item.length;
                            for (let index = 0; index < data.item.length; index++) {
                                idz[index] = data.item[index].id;
                                获取列表中的序号number,将列表中的number作为acquire数组的index
                                let acquire_number;
                                acquire_number = data.item[index].number;
                                acquire[acquire_number] = data.item[index].id;
                                let status = '';
                               if(data.item[index].status==0){
                                    status = "进行中"
                               }
                               if(data.item[index].status==1){
                                    status = "已过期"
                               }
                               if(data.item[index].status==2){
                                    status = "已删除"
                               }
                                str += "<tr><td>" + data.item[index].number +
                                    "</td><td >" + data.item[index].name +
                                    "</td><td>" + data.item[index].begintime +
                                    "</td><td>" + data.item[index].endtime +
                                    "</td><td>" + data.item[index].createtime +
                                    "</td><td>" + status +
                                    "</td><td style='text-align: center'>"+ "<input type='button' class='btn btn-info btn-sm' style='margin-right: 20px' id='"+acquire_number+"' value=编辑>"
                                 +"<input type='button' class='btn btn-warning btn-sm'  id='"+acquire_number+"' value=删除>"+"</tr>";
                                $("#tableText").html(str);
                                let s = "#li" + dpage;
                                $(s).css("border-color", "blue");
                                if (dpage < pages) {
                                    let r = dpage + 1;
                                    let rs = "#li" + r;
                                    $(rs).css("border-left-color", "blue");
                                } else {
                                    $("#next").css("border-left-color", "blue");
                                }
                            }
                        }

                    });
                })
            }
        });
         $("#prev").click(function(){
            $('.box').css('display','none');
            if(dpage==1){
                alert("该页是第一页！");
            }else{
                let s="#li"+dpage;
                $(s).css("border-color","");
                if(dpage < pages){
                    let r2=dpage+1;
                    let rs2="#li"+r2;
                    $(rs2).css("border-left-color","");
                }else{
                    $("#next").css("border-left-color","");
                }
                $.ajax({
                    type:'GET',
                    url:'./searchtrain',
                    data:{'page':dpage-1,'per_page':per_page},
                    dataType:'json',
                    async: false,
                    cache: false,
                    contentType: 'application/json',
                    success:function(data){
                        pages = data.zpage;
                        let total = data.total;
                        dpage = data.dpage;
                        let activity = data.item;
                        let str="";
                        d_per_page=data.item.length;
                        for (let index = 0; index < d_per_page; index++) {
                            idz[index]=data.item[index].id;
                            {#获取列表中的序号number,将列表中的number作为acquire数组的index#}
                            let acquire_number;
                            acquire_number = data.item[index].number;
                            acquire[acquire_number]=data.item[index].id;
                            let status = '';
                           if(data.item[index].status==0){
                                status = "进行中"
                           }
                           if(data.item[index].status==1){
                                status = "已过期"
                           }
                           if(data.item[index].status==2){
                                status = "已删除"
                           }
                           str += "<tr><td>" + data.item[index].number +
                            "</td><td >" + data.item[index].name +
                            "</td><td>" + data.item[index].begintime +
                            "</td><td>" + data.item[index].endtime +
                            "</td><td>" + data.item[index].createtime +
                            "</td><td>" + status +
                            "</td><td style='text-align: center'>"+ "<input type='button' class='btn btn-info btn-sm' style='margin-right: 20px' id='"+acquire_number+"' value=编辑>"
                             +"<input type='button' class='btn btn-warning btn-sm' id='"+acquire_number+"' value=删除>"+"</tr>";
                        }
                        $("#tableText").html(str);
                        let s="#li"+dpage;
                        $(s).css("border-color","blue");
                        if(dpage < pages){
                            let r=dpage+1;
                            let rs="#li"+r;
                            $(rs).css("border-left-color","blue");
                        }else{
                            $("#next").css("border-left-color","blue");
                        }
                    }
                })
            }
        });
        $("#next").click(function(){
            $('.box').css('display','none');
            if(dpage==pages){
                alert("该页是最后一页！");
            }else{
                let s="#li"+dpage;
                $(s).css("border-color","");
                if(dpage < pages){
                    let r2=dpage+1;
                    let rs2="#li"+r2;
                    $(rs2).css("border-left-color","");
                }else{
                    $("#next").css("border-left-color","");
                }
                $.ajax({
                    type:'GET',
                    url:'./searchtrain',
                    data:{'page':dpage+1,'per_page':per_page},
                    dataType:'json',
                    async: false,
                    cache: false,
                    contentType: 'application/json',
                    success:function(data){
                        pages = data.zpage;
                        let total = data.total;
                        dpage = data.dpage;
                        let activity = data.item;
                        let str="";
                        d_per_page=data.item.length;
                        for (let index = 0; index < d_per_page; index++) {
                            idz[index]=data.item[index].id;
                            {#获取列表中的序号number,将列表中的number作为acquire数组的index#}
                            let acquire_number;
                            acquire_number = data.item[index].number;
                            acquire[acquire_number]=data.item[index].id;
                            let status = '';
                           if(data.item[index].status==0){
                                status = "进行中"
                           }
                           if(data.item[index].status==1){
                                status = "已过期"
                           }
                           if(data.item[index].status==2){
                                status = "已删除"
                           }
                           str += "<tr><td>" + data.item[index].number +
                            "</td><td >" + data.item[index].name +
                            "</td><td>" + data.item[index].begintime +
                            "</td><td>" + data.item[index].endtime +
                            "</td><td>" + data.item[index].createtime +
                            "</td><td>" + status +
                            "</td><td style='text-align: center'>"+ "<input type='button' class='btn btn-info btn-sm' style='margin-right: 20px' id='"+acquire_number+"' value=编辑>"
                             +"<input type='button' class='btn btn-warning btn-sm' id='"+acquire_number+"' value=删除>"+"</tr>";
                        }
                        $("#tableText").html(str);
                        let s="#li"+dpage;
                        $(s).css("border-color","blue");
                        if(dpage < pages){
                            let r=dpage+1;
                            let rs="#li"+r;
                            $(rs).css("border-left-color","blue");
                        }else{
                            $("#next").css("border-left-color","blue");
                        }
                    }
                });
            }
        });
        {#点击那一页就显示哪一页的数据#}
        for(let index=1;index<=pages;index++){
            let s="#li"+index;
            $(s).click(function() {
                $('.box').css('display', 'none');
                let s2 = "#li" + dpage;
                $(s2).css("border-color", "");
                if (dpage < pages) {
                    let r2 = dpage + 1;
                    let rs2 = "#li" + r2;
                    $(rs2).css("border-left-color", "");
                } else {
                    $("#next").css("border-left-color", "");
                }
                $.ajax({
                    type: 'GET',
                    url: './searchtrain',
                    data: {'page': index, 'per_page': per_page},
                    dataType: 'json',
                    async: false,
                    cache: false,
                    contentType: 'application/json',
                    success: function (data) {
                        pages = data.zpage;
                        let total = data.total;
                        dpage = data.dpage;
                        let activity = data.item;
                        let str = "";
                        d_per_page = data.item.length;
                        for (let index = 0; index < data.item.length; index++) {
                            idz[index] = data.item[index].id;
                            {#获取列表中的序号number,将列表中的number作为acquire数组的index#}
                            let acquire_number;
                            acquire_number = data.item[index].number;
                            acquire[acquire_number] = data.item[index].id;
                            let status = '';
                           if(data.item[index].status==0){
                                status = "进行中"
                           }
                           if(data.item[index].status==1){
                                status = "已过期"
                           }
                           if(data.item[index].status==2){
                                status = "已删除"
                           }
                            str += "<tr><td>" + data.item[index].number +
                                "</td><td >" + data.item[index].name +
                                "</td><td>" + data.item[index].begintime +
                                "</td><td>" + data.item[index].endtime +
                                "</td><td>" + data.item[index].createtime +
                                "</td><td>" + status +
                                "</td><td style='text-align: center'>"+ "<input type='button' class='btn btn-info btn-sm' style='margin-right: 20px' id='"+acquire_number+"' value=编辑>"
                                +"<input type='button' class='btn btn-warning btn-sm'  id='"+acquire_number+"' value=删除>"+"</tr>";
{#                             +<input type='button' class='btn btn-success btn-sm' id='"+acquire_number+"' value=恢复>"+"</tr>";#}
                            $("#tableText").html(str);
                            let s = "#li" + dpage;
                            $(s).css("border-color", "blue");
                            if (dpage < pages) {
                                let r = dpage + 1;
                                let rs = "#li" + r;
                                $(rs).css("border-left-color", "blue");
                            } else {
                                $("#next").css("border-left-color", "blue");
                            }
                        }
                    }

                });
            })
        }
        {#    删除按钮二次确认#}
        $(document).on("click",".btn-warning",function() {
            var flag = confirm("确定删除吗？");
            if(flag == false){
                return false
            }else {
                {#先给后端传id#}
                let user_number = $(this).attr('id');
                {#获取传递给后端的id#}
                let acquire_user_id = acquire[user_number];
                console.log("user_number=",user_number);
                console.log("acquire_user_id=",acquire_user_id);
                 $.ajax({
                    type:'GET',
                    url:'./deletetrain',
                    data:{'id':acquire_user_id},
                    dataType:'json',
                    async: false,
                    cache: false,
                    contentType: 'application/json',
                    success:function(result){
                        console.log(result.status)
                        Flush(result.status);

                    }
                });
                function Flush(status){
                    if(status==true){
                        alert("该培训活动已成功删除！");
    {#                    $("#tableText").load(location.href + "#tableText");#}
                        return
                    }
                    if(status==false){
                        alert("该培训活动已过期或已删除！");
                        return false;
                    }
                }
            }
        });
        $(document).on("click",".btn-info",function() {
            {#先给后端传id#}
            let user_number = $(this).attr('id');
            {#获取传递给后端的id#}
            let acquire_user_id = acquire[user_number];
            console.log("user_number=", user_number);
            console.log("acquire_user_id=", acquire_user_id);
            var id = jQuery.trim(acquire_user_id);
            var newUrl = encodeURI("ability_details/id=" + id); //使用encodeURI编码
{#            location.href = newUrl;#}
            window.open(newUrl);
        })
     })

{#        function GetQueryString(name){#}
{#            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");#}
{#            var r = window.location.search.substr(1).match(reg);#}
{#            if(r!=null)return  unescape(r[2]); return null;#}
{#        }#}

{% endblock %}