<title>manageabilityadd</title>
{% extends "base_Txx.html" %}

{% block content %}
    <div class="container">
        <h2>能力提升培训添加</h2>
        <form id="form">
        <div class="form-group">
          <label for="name">能力提升培训名：</label>
          <input type="text" class="form-control" id="name" name="abilityName">
        </div>
        <div class="form-group">
          <label for="startTime">培训开始时间：</label>
          <input type="date" class="form-control" id="startTime" name="time1" >
        </div>
        <div class="form-group">
          <label for="stopTime">培训结束时间：</label>
          <input type="date" class="form-control" id="stopTime" name="time2">
        </div>
        <div class="form-group">
          <label for="content">培训内容：</label>
          <input type="text" class="form-control" id="content" name="abilityContent">
        </div>
        <div style="text-align:center">
         <button id="cancel" type="button" style="margin:50px">取消</button>
         <button id="submit" type="button" style="margin:50px">添加</button>
{#         <button id="submit" onclick="alert($('#content').val())" type="button" style="margin:50px">添加</button>#}
        </div>
      </form>
    </div>

{% endblock %}

{% block js %}
    $(function () {
            $("#cancel").click(function () {
                $("#name").val('');
                $('#startTime').val('');
                $('#stopTime').val('');
                $('#content').val('');
        });
            $("#submit").click(function () {
                var content = $("#content").val();
                var startTime = $('#startTime').val();
                var stopTime = $('#stopTime').val();
                var name= $('#name').val();

                 if(name == ''){
                 alert('名字不能为空！');
                 return
                 }
                 if(startTime == ''){
                     alert('请选择开始时间！');
                     return
                 }
                 if(stopTime != ''){
                     if(startTime > stopTime){
                         alert('结束时间不能早于开始时间！');
                         return
                     }
                 }else {
                     alert('请选择结束时间！');
                     return
                 }
                if(content == '') {
                    alert("内容不能为空！");
                }
        })
        });
{% endblock %}