<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>新用户申报</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link href="../static/css/dashboard.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://code.highcharts.com/highcharts.js"></script>

    <link rel="stylesheet" href="../static/layui/css/layui.css" />
    <script type="text/javascript" src="../static/layui/layui.js"></script>

{#    <link rel="stylesheet" href="../static/bootstrap-fileinput/css/fileinput.css" />#}
{#    <script type="text/javascript" src="../static/bootstrap-fileinput/js/fileinput.js"></script>#}

<style type="text/css">
        .table>tbody>tr>td {
            vertical-align: middle;
            text-align: center;
        }
        .table>thead>tr>th {
            vertical-align: middle;
            text-align: center;
        }
        .dropdown-menu li{
            text-align: left;
            padding-left: 10px;
        }
        .operation{

        }
        .operation button{
            background-color: #D3D3D3;
            border-radius: 3px;
            width: 40px;
            height:25px;
            font-size: 10px;
            margin:5px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" role="navigation" style="height: 50px; background-color:#01AAED">
    <div class="container-fluid" style="">
        <div class="navbar-header" style="width: 100%;">
            <a class="navbar-brand" href="#" style="padding-top: 8px; color: whitesmoke">北京市林学会科普基地管理信息系统</a>
            <div class="dropdown" style="float: right">
                <ul class="nav navbar-nav navbar-right ml-auto" style="padding: 12px 0;">
                    <li><a href="#" style="color: whitesmoke">欢迎：{{ username }}</a></li>
                    <li class="nav-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: whitesmoke;padding-left: 15px">用户中心 <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="margin-top: 12px;right: -30px;left: unset;">
                            <li><a href="#" style="color: #9d9d9d;font-size: 10px"><i class="fa fa-user-md" aria-hidden="true"></i> 用户类型：新用户</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" style="color: #9d9d9d;font-size: 10px"><i class="fa fa-user" aria-hidden="true"></i> 用户账号：{{ username }}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{url_for('main.login')}}" style="color: #9d9d9d;font-size: 10px"><i class="fa fa-sign-out" aria-hidden="true"></i> 退出</a></li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">

        <div class="col-md-10" style="margin-top: 50px">
            <div class="container" >
                <h2 style="padding-top: 20px">新用户申报</h2>
                <div style="height: 20px; margin-top: 30px">
                    <div style="display:inline; text-align: center; padding-right: 10px;padding-left: 50px">
                    <label style="font-size: large;  float: left; margin-right: 5px;">申报状态：</label>
                    <p id="state" style="font-size:large; float: left; margin-right: 10px; font-weight: bold;">尚未申报</p>
                    </div>

                    <div style="display:inline; text-align: center;">
                    <label style="font-size: large; margin-right: 5px;">截止时间：</label>
                    <label id="endtime" style="font-size:large; margin-right: 10px; font-weight: bold;"></label>
                    </div>
                </div>
                <br>
                <br>
                <form id="newuser" name="newuser">
                    <div class="form-group">
                        <div class="layui-upload">
                            <div>
{#                                <label style="font-size: large; float: left; margin-right: 10px;">上传申报文件：</label>#}
                                <div style="display:inline; text-align: center;  padding-right: 400px">
                                    <button type="button" class="btn btn-primary " style="margin-left: 30px" id="testList">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                                          <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"></path>
                                          <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"></path>
                                        </svg>添加文件
                                    </button>
{#                                    <button type="button" class="layui-btn layui-btn-normal" style="margin-left: 30px" id="testList">添加文件</button>#}
                                    <label style="font-size: small;color: grey">（仅支持doc、docx和pdf格式的文件）</label>
                                </div>
                                <div style="display:inline; text-align: center;">
                                     <button type="button" class="layui-btn layui-hide" id="testListAction" style="margin-left: 26px;">上传</button>
                                </div>
                            </div>
                            <div class="layui-upload-list col-md-12">
                                <table class="layui-table" style="margin: 0 0 0 0; table-layout: fixed;">
                                    <thead style="text-align: center">
                                    <tr>
                                        <th style="width: 65%">文件名</th>
                                        <th style="width: 10%">大小</th>
                                         <th style="width: 15%">时间</th>
                                        <th style="width: 10%">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="demoList"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>

                <form id="files" name="files">
                    <label style="font-size: large; font-weight: bold;">申报文件上传历史</label>
                    <div class="form-group col-md-12" >
{#                        <div class="layui-upload-list col-md-12">#}
                            <table class="layui-table" style="margin-top: 20px; table-layout: fixed;">
                                <thead style="text-align: center">
                                <tr>
                                    <th style="width: 10%; text-align: center">序号</th>
                                    <th style="width: 65%; text-align: center">文件名</th>
                                    <th style="width: 25%; text-align: center">上传时间</th>
{#                                    <th style="width: 20%; text-align: center">操作</th>#}
                                </tr>
                                </thead>
                                <tbody id="filesList"></tbody>
                            </table>
                        </div>
{#                    </div>#}
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        layui.use('layer', function(){
            $.ajax({
                  type: "GET",
                  url: "/getnewuserdeclare",
                  data: {},
                  dataType: 'json',
                  async: false,
                  cache: false,
                  contentType: 'application/json',
                  success:function (data) {
                      console.log("data:", data);
                      console.log("data.endtime:", data.endtime);
                      console.log("data.status:", data.status);
                      $('#endtime').text(data.endtime);
                      if (data.status == 0) {
                          $('p').text("等待审核")
                      }
                      if (data.status == 1) {
                          $('p').text("审核通过")
                      }
                      if (data.status == 2) {
                          $('p').text("申报驳回，请重新申报")
                      }
                  }
            });
             console.log("$('p').text():", $('p').text());
            if ($('p').text() == '等待审核' || $('p').text() == '审核通过') {
                document.getElementById('newuser').style.display='none';
                document.getElementById('files').style.display='';
                document.getElementById('files').style.marginTop='50px';
                  {#$("#testList").addClass('layui-hide'); //隐藏选择文件#}
             }
            if ($('p').text() == '尚未申报') {
                document.getElementById('newuser').style.display='';
                document.getElementById('files').style.display='none';
                  {#$("#testList").removeClass('layui-hide'); //隐藏选择文件#}
            }
            if ($('p').text() == '申报驳回，请重新申报') {
                document.getElementById('newuser').style.display='';
                document.getElementById('files').style.display='';
                document.getElementById('files').style.marginTop='200px';
                  {#$("#testList").removeClass('layui-hide'); //隐藏选择文件#}
            }
        });
        {#上传文件历史#}
         $.ajax({
            type: "GET",
            url: "/getnewuserdeclaredata",
            data: {},
            dataType: 'json',
            async: false,
            cache: false,
            contentType: 'application/json',
            success:function (data) {
                let str = "";
                console.log("data.data.length:", data.data.length);
                for (let index = 0; index < data.data.length; index++) {
                    str += "<tr><td style='text-align: center'>" + (index+1) +
                            "</td><td style='text-align: center' >" + "<a href=" +data.data[index].path+ " download=" +data.data[index].newname+ ">" +data.data[index].name+
                            "</td><td style='text-align: center'>" + data.data[index].uptime + "</tr>";
                }
            $("#filesList").html(str);
            }
        });

        var form = new FormData();
        var files={};
        //获取当前时间
        function fileTime(){
            function getNow(s) {
                return s < 10 ? '0' + s : s;
            }
            var myDate = new Date;
            var year = myDate.getFullYear(); //获取当前年
            var mon = myDate.getMonth() + 1; //获取当前月
            var date = myDate.getDate(); //获取当前日
            var h = myDate.getHours();//获取当前小时数(0-23)
            var m = myDate.getMinutes();//获取当前分钟数(0-59)
            var s = myDate.getSeconds();//获取当前秒
            var res =  year + "-" + getNow(mon) + "-" + getNow(date) + "&nbsp;" + getNow(h) + ":" + getNow(m) + ":" + getNow(s);
            return res
        }
        layui.use('upload', function () {
        var $ = layui.jquery,
            upload = layui.upload;
        //多文件列表示例
        var demoListView = $('#demoList'),
            uploadListIns = upload.render({
                elem: '#testList',
                accept: 'file',
                {#筛选选择框中文件的格式#}
                acceptMime: 'application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf',
                exts: 'doc|docx|pdf',
                multiple: true,
                auto: false,
                {#bindAction: '#testListAction',#}
                choose: function (obj) {
                    files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                    //form.append("files", files);//保存每一个文件
                    var file_time = fileTime();//获取上传文件的时间
                    //读取本地文件
                    obj.preview(function (index, file, result) {
                        var tr = $(['<tr id="upload-' + index + '">'
                            , '<td style="width: 65%">' + file.name + '</td>'
                            , '<td style="width: 10%">' + (file.size / 1014).toFixed(1) + 'kb</td>'
                            , '<td style="width: 15%">' + file_time + '</td>'
                            , '<td style="width: 10%">'
                            , '<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                            , '</td>'
                            , '</tr>'].join(''));

                        //删除
                        tr.find('.demo-delete').on('click', function () {
                            delete files[index]; //删除对应的文件
                            tr.remove();
                            uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                            if ($('#demoList tr').length == 0) {
                               $("#testListAction").addClass('layui-hide'); //隐藏上传
                            }
                        });

                        demoListView.append(tr);
                        if ($('#demoList tr').length != 0) {
                            $("#testListAction").removeClass('layui-hide'); //隐藏上传
                        }
                    });
                },
             })
        });

        //文件上传
        {#文件上传二次确认#}
        $("#testListAction").on("click", function () {
            var flag = confirm("上传之后不可更改，确定上传吗？");
            if(flag == false){
                return false
            }else {
                for (let k in files) {
                    form.append("files", files[k]);
                }
                var len = 0;
                form.forEach((value, key) => {
                    console.log("key %s: value %s", key, value);
                    len = key.length;
                });
                console.log(len);
                {#console.log(form);#}
                {#document.getElementById("testListAction").removeAttribute("disabled");#}
                layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                $.ajax({
                    url: '/adduserdeclare',
                    type: "POST",
                    data: form,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        console.log(result);
                        if (result.code == 200) {
                            layer.msg("上传成功！", {icon: 6});
                            setTimeout(function () {
                                layer.closeAll('loading');
                            }, 2000);//关闭加载风格
                            {#$.ajax({#}
                            {#    type: 'GET',#}
                            {#    url: './changeStatus',#}
                            {#    data: {status: 0},#}
                            {#    dataType: 'json',#}
                            {#    async: false,#}
                            {#    cache: false,#}
                            {#    contentType: 'application/json',#}
                            {#    success: function (re) {#}
                            {#        console.log(re.status)#}
                            {#    }#}

                             window.location.reload();
                        } else if (result.code == 500) {
                            layer.msg(result.msg, {icon: 5});
                            setTimeout(function () {
                                layer.closeAll('loading');
                            }, 2000);//关闭加载风格
                        }
                    }
                })
            }
        });
    })
</script>
</body>
</html>