<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>签到名单</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{#<div>{{ user }}</div>#}
<div class="container" style="text-align: center">
    <ul id="listview" class="list-group">
        {% for idx in user %}
        <li class="list-group-item">{{ idx.get("username") }}</li>
        {% endfor %}
    </ul>
</div>

<script>

    $(function () {
        $("#listview").on('click','li',function () {
            href = window.location.href;
            window.location.href = href + "/success";
            $.ajax({
                type: 'GET',
                url: '/signuseractivity',
                data: {},
                dataType: 'json',
                async: false,
                cache: false,
                contentType: 'application/json',
                success: function () {
                }
            });
        })
    })
</script>
</body>
</html>