<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>签到名单</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="text-align: center">
    <a href="#" class="list-group-item">基地1</a>
    <a href="#" class="list-group-item">基地2</a>
    <a href="#" class="list-group-item">基地3</a>
    <a href="#" class="list-group-item">基地4</a>
    <a href="#" class="list-group-item">基地5</a>

</div>
</body>
</html>